	{% extends 'VideotecaBundle:CintasVirgenes:default.html.twig' %}

	{% block data %}
	{{ parent()}}
		<div class="row">
			<div class="text-center col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
				<h3 class="title-section">AGREGAR CINTAS VIRGENES</h3>
			</div>
		</div>
		<div class="row">
			<div id="panel-inventario" class="col-xs-8 col-xs-offset-2">
				<div class="panel panel-success">
					<div class="panel-heading">CINTAS VIRGENES</div>
					<div class="panel-body">
						<table class="table table-striped table-bordered" style="font-size: 12px;">
	                        <thead>
	                            <tr>
	                                <th>Nombre de la Cinta</th>
	                                <th>Formato de la Cinta</th>
	                                <th>Existencia</th>
	                            </tr>
	                        </thead>
	                        <tbody>
	                            <tr>
	                                <td>{{ entity.nombrecv }}</td>
	                                <td>{{ entity.idFormato }}</td>
	                                <td>{{ entity.existencia }}</td>
	                            </tr>
	                        </tbody>
	                    </table>
	  <form novalidate action="{{ path('cintasvirgenes_updateCV',{'id':entity.id}) }}" method="post" {{ form_enctype(editexit_form) }}>
	                        {{  form_widget(editexit_form._token) }}   
	                        <div class="formShow">
	                            <div class="contenedorform">
	                                <div style="text-align: center" class="labelform">Cantidad:
	                                <input id="cantidad" type="text" maxlength="255" required="required" name="cantidad"></div>
	                            </div>
	                        </div> <br><br>
	                       <div style="text-align: center">
	      <button class="btn btn-default" name="frontend_videotecabundle_cintasvirgenes[submit]" id="frontend_videotecabundle_cintasvirgenes_submit" type="submit">
				                    <span class="glyphicon glyphicon-save"></span>
				                    Guardar
	                		</button>
	                		</div>
	                     </form>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="text-center col-xs-6 col-xs-offset-3 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
				<a class="btn btn-default pull-left" href="{{ path('cintasvirgenes') }}">
					<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
					Volver
				</a>
			</div>
		</div>
	{% endblock %}
