{% extends '::protocolo.html.twig' %}

{% block title %}Protocolo{% endblock %}

{% block titulo %}
   REUNION EN OFICINA
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">Protocolo</li>
</ol>
{% endblock %}
{% block body -%}
 {{parent()}}
    <div class="formShow">
        <div class="contenedorform">
            <div class="labelform">Fecha:</div>
                <div class="widgetform">{{ entity.fecha |date('d-m-Y')}}</div>
            </div>

        <div class="contenedorform">
            <div class="labelform">Hora:</div>
                <div class="widgetform">{{ entity.hora |date('H:i:s')}}</div>
            </div>

        <div class="contenedorform">
            <div class="labelform">lugar:</div>
                <div class="widgetform">{{ entity.lugar }}</div>
            </div>

        <div class="contenedorform">
            <div class="labelform">Nro Personas:</div>
                <div class="widgetform">{{ entity.numeroPersonas }}</div>
            </div>
        <div class="contenedorform">
            <div class="labelform">Refrigerio:</div>
             <div class="widgetform">{{ entity.refrigerio }}</div>
            </div>
    </div>
         <a class="btn btn-default" href="{{ path('reunion') }}">VOLVER A LA LISTA</a> 
           |
           <a class="btn btn-primary" href="{{ path('reunion_edit', { 'id': entity.id }) }}">EDITAR</a>
            <br><br>
{% endblock %}
