{% extends '::progis.html.twig' %}

{% block titulo %}
    <h2>NUEVO OBJETIVO</h2>
    <h4>
        PROYECTO "{{ proyecto.nombre|upper }}"<br>
        PORCENTAJE DE AVANCE "{{ proyecto.porcentaje }}%"<br>
    </h4>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("progis_principal_homepage") }}">PRINCIPAL PROGIS</a></li>
  <li><a href="{{ path("objetivo",{'idproyecto':proyecto.id}) }}">LISTA DE OBJETIVOS</a></li>
  <li class="active">NUEVO OBJETIVO</li>
</ol>
{% endblock %}
    
{% block contenido -%}
    {{ parent()}}
    
    {{ form_start(form, { 'attr': {'novalidate':null} }) }}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">INGRESE LOS PARÁMETROS</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(form) }}</div>
            </div>
        </div>

        <div align="center"><a class="btn btn-default" href="{{ path('objetivo',{'idproyecto':proyecto.id}) }}">IR A LA LISTA</a> | <input type="submit" class="btn btn-primary" value="CREAR OBJETIVO"></div>
    {{ form_end(form) }}  

    <script>
        $(function() {
          $( "#frontend_proyectobundle_objetivo_fechainicioestimada" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
          });
          $( "#frontend_proyectobundle_objetivo_fechafinestimada" ).datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd-mm-yy",
          });

            $('#frontend_proyectobundle_objetivo_nombre').popover({
                placement: 'right',
                content: 'Debe ser redactado en infinitivo, y representa uno de los pasos a realizar para alcanzar el objetivo general.',
                template: '<div class="popover" role="tooltip"><div class="arrow"></div><h3 style="font-size:12px;font-weight:bold;" class="popover-title"></h3><div style="text-align:justify" class="popover-content"></div></div>'
            });

            $('#frontend_proyectobundle_objetivo_nombre').popover('show');
        });
    </script>

{% endblock %}
