{% extends '::directorio.html.twig' %}

{% block title %}Nivel{% endblock %}

{% block titulo %}
    EDITAR NIVEL
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("nivelorganizacional") }}">NIVELES INICIO</a></li>
  <li class="active">EDITAR NIVEL</li>

</ol>
{% endblock %}

{% block body -%}
    {{ parent() }}

    {% form_theme edit_form 'PrincipalBundle:Form:progis.html.twig' %}
    {{ form_start(edit_form, { 'attr': {'novalidate':null} }) }}
    <div class="panel panel-default" style="width: 60%;">
            <!-- Default panel contents -->
            <div class="panel-heading">MODIFIQUE LOS PARÁMETROS QUE DESEE</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(edit_form) }}</div>
            </div>
        </div>

            <div align="center"><input type="submit" class="btn btn-primary" value="EDITAR NIVEL"><br><br>
    {{ form_end(edit_form) }}  
        
    <div align="center">{{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}</div>
    <br>
{% endblock %}
