{% extends '::directorio.html.twig' %}

{% block titulo %}
    <h2>CREAR NUEVO NIVEL</h2>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("nivelorganizacional") }}">NIVELES INICIO</a></li>
  <li class="active">NUEVO NIVEL</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent()}}

    {{ form_start(form, { 'attr': {'novalidate':null} }) }}
    <div class="panel panel-default" style="width: 60%">
            <!-- Default panel contents -->
            <div class="panel-heading">INGRESE LOS PARÁMETROS</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(form) }}</div>
            </div>
        </div>

        <div align="center"><input type="submit" class="btn btn-primary" value="CREAR NIVEL">
    {{ form_end(form) }}   

{% endblock %}
