{% extends '::protocolo.html.twig' %}

{% block title %}Protocolo{% endblock %}

{% block titulo %}
   EDITAR SOLICITUD DE REGALO CORPORATIVO
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">Protocolo</li>
</ol>
{% endblock %}
{% block body -%}
 {{parent()}}

<form novalidate action="{{ path('regalo_update',{'id':entity.id}) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT"> {{ form_widget(edit_form._token) }}

        <div class="formShow">
            <div class="contenedorform">
                <div class="labelform">Fecha:</div>
                <div class="widgetform">{{ form_widget(edit_form.fecha,{ 'attr': {'style': 'margin: 0px;'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Nro Regalos:</div>
                <div class="widgetform">{{ form_widget(edit_form.nroRegalos,{ 'attr': {'style': 'margin: 0px;'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">Tipo de Regalo:</div>
                <div class="widgetform">{{ form_widget(edit_form.tipoRegalo,{ 'attr': {'style': 'margin: 0px;'} }) }}</div>
            </div>
            <div class="contenedorform">
                <div class="labelform">A quien v&aacute; dirigido cada regalo:</div>
                <div class="widgetform">{{ form_widget(edit_form.dirigido,{ 'attr': {'style': 'margin: 0px; width: 444px; height: 126px;'} }) }}</div>
            </div>
           </div>
        <a class="btn btn-default" href="{{ path('regalo') }}">
            VOLVER A LA LISTA
        </a> | 
        <input type="submit" class="btn btn-primary" value="EDITAR TAREA">
        <br><br>
    </form>
{% endblock %}