{% extends '::protocolo.html.twig' %}

{% block title %}Protocolo{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">INICIO</a></li>
  <li class="active">Protocolo</li>
</ol>
{% endblock %}

{% block body %}
{{parent()}}
<form novalidate method="post" action="{{ path('regalo_create') }}">
      {{ form_widget(form._token) }}
	  <div class="row" id="block-choice">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					<div class="btn-group" role="group" aria-label="...">
						<div class="btn-group" role="group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							Tipo de Solicitud
						<span class="caret"></span>
						</button>
							<ul class="dropdown-menu" role="menu">
								<li role="presentation" class="dropdown-header">Reuni&oacute;n</li>
					            <li><a href="{{ path('reservaciones_new',{'tipo':'3','ubicacion':'1'}) }}">Sala</a></li>
					            <li><a href="{{ path('reunion_new') }}">Oficina</a></li>
					            <li role="presentation" class="divider"></li>
					            <li><a href="{{ path('regalo_new') }}">Regalo Corporativo</a></li>
					            <li><a href="{{ path('invitados_new') }}">Invitado</a></li>
					            <li><a href="{{ path('salidacanal_new') }}">Salida del canal para recibir invitado</a></li>
					            <li><a href="{{ path('aeropuerto_new') }}">Aeropuerto</a></li>
					        </ul>
						</div>
					</div>
				</div>
			</div>
	        <br><br>
		{% if form_errors(form.fecha) or form_errors(form.nroRegalos) or form_errors(form.tipoRegalo) or form_errors(form.dirigido) %}
			    <div class="alert alert-danger errores" style="width:70%;">
			        <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
			        <div>{{ form_errors(form.fecha) }}</div>
			        <div>{{ form_errors(form.nroRegalos) }}</div> 
			        <div>{{ form_errors(form.tipoRegalo) }}</div>
			        <div>{{ form_errors(form.dirigido) }}</div>
			     </div>
    	{% endif %}
		<div class="panel panel-primary" style="width: 90%;">
	        <div class="panel-heading">SOLICITUD DE PROTOCOLO DE REGALO CORPORATIVO</div>
	        <div class="panel-body">
	        <div class="table-responsive">
	            <table class="table table-bordered tablaDatosProtocolo">
				    <tr>
				        <th>Fecha:</th>
				        <td>{{ form_widget(form.fecha) }}</td>
				    	<th colspan="1">N&uacute;mero de regalos:</th>
				        <td colspan="1">{{ form_widget(form.nroRegalos) }}</td>
				        <th>Tipo de regalo:</th>
				        <td>{{ form_widget(form.tipoRegalo) }}</td>
				    </tr>
				    <tr>
				    	<th colspan="6">A quien vá dirigido cada regalo</th>
				    </tr>
				    <tr>
				        <td colspan="6">{{ form_widget(form.dirigido) }}</td>
				    </tr>
				</table>
			</div>
			</div>
		</div>
		<br>
		<button type="submit" class="btn btn-primary">PROCESAR SOLICITUD</button>
		<br>
 </form>
{% endblock %}

