<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <style type="text/css">
        	th{
        		text-align: right;
        		margin-right: 20px;
        	}

        	table{
        		width: 600px;

        	}

        	table td{
        		padding: 10px;
        		border:1px solid gray;
        	}

        	table th{
        		border:1px solid gray;
        		background-color: #F8F8F8;
        		padding-right: 10px;
        		width: 25%;
        	}
        </style>
    </head>

    <body>
    	<div align="center">
			<div><h3>ERES RESPONSABLE DE UNA NUEVA ACTIVIDAD</h3></div>

			<table cellspacing=0>
				<tr>
                                    <th>ACTIVIDAD:</th>
                                    <td>{{ entity.descripcion|capitalize }}</td>
				</tr>
				<tr>
                                    <th>RESPONSABLE:</th>
                                    <td>{{ entity.responsable.miembroespacio.usuario.primerNombre|capitalize }} {{ entity.responsable.miembroespacio.usuario.primerApellido|capitalize }}</td>
				</tr>
				<tr>
                                    <th>PROYECTO:</th>
                                    <td>{{ entity.objetivo.proyecto.nombre|capitalize }}</td>
				</tr>
				<tr>
                                    <th>OBJETIVO:</th>
                                    <td>{{ entity.objetivo.nombre|capitalize }}</td>
				</tr>

			</table>
			<br>
		</div>
	</body>
	
</html>