{% extends '::base_trueques.html.twig' %}

{% block body -%}
    <h1>Mis Productos</h1>
    <br>
    <br>
    <table class="table" style="width:50%;">
        <tbody>
            <tr>
                <th>Id</th>
                <td id="miproducto" data-miproducto="{{ entity.id }}">{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Producto</th>
                <td>{{ entity.productoCambiar.nombre }}</td>
            </tr>
             <tr>
                <th>Producto de Interes</th>
                <td>
                    {% for item in entity.MisProductoInteres %}
                        <span>{{ item }}, </span>
                    {% endfor %}
                </td>
            </tr>
        </tbody>
    </table>
    <br>
    
    {% if entity.Interesados|length > 0 and entity.status == 'Contacto' %}
        <h4>Lista de interesados</h4>
        <table class="table" style="width:25%;">
            <tbody>
                {% for item in entity.interesados %}
                    <tr>
                        <th>{{ item.productoCambiar.nombre }}</th>
                        <td>
                            <button type="button" class="btn btn-default seleccionado" name="seleccionado" data-trueque="{{ item.id }}">Elegir</button>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% if trueque is defined %}
        <h4>Producto a Intercambiar</h4>
        <table class="table" style="width:45%;">
            <tbody>
                <tr>
                    <th>
                        {% if trueque.MisProductoUser1.user.id==app.user.id%}
                            Tú
                        {% else %}
                            Contacto
                            {# { trueque.MisProductoUser1.user } #}
                        {% endif %}
                    </th>
                    <td>{{ trueque.MisProductoUser1.productoCambiar }}</td>
                </tr>
                <tr>
                    <th>
                        {% if trueque.MisProductoUser2.user.id==app.user.id%}
                            Tú
                        {% else %}
                            {{ trueque.MisProductoUser2.user }}
                        {% endif %}
                    </th>
                    <td>{{ trueque.MisProductoUser2.productoCambiar }}</td>
                </tr>
            </tbody>
        </table>
        <br>

        <button type="button" data-trueque="{{ trueque.id }}" class="btn btn-default finalizar_trueque">Confirmar Intercambio</button>
        <button type="button" data-trueque="{{ trueque.id }}" class="btn btn-danger cancelar_trueque">Cancelar Intercambio</button>
    {% endif %}



    <div align="center">
        <div class="btn-nav">
            <div class="btn-group" role="group" aria-label="...">
                <a class="btn btn-default" href="{{ path('misproductos') }}">
                    Volver
                </a>
                {% if entity.status=='Activo' %}
                    <a class="btn btn-default" href="{{ path('misproductos_edit', { 'id': entity.id }) }}">
                        Editar
                    </a>
                {% endif %}
            </div>
        </div>

        <br>

        {% if entity.status=='Activo' or entity.status=='Cancelado' %}
            {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
                {{ form_errors(delete_form) }}
                {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
            {{ form_end(delete_form) }}
        {% endif %}
    </div>

    <br>

{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script>

        $(function() {
            
            $(".seleccionado").on('click', function() {
                var trueque = $(this).data('trueque');

                swal({
                    title: "Estas seguro?",
                    text: "Quieres dar inicio al proceso de intercambio!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Si, Estoy seguro!",
                    closeOnConfirm: false,
                    showLoaderOnConfirm: true,
                },
                    
                function(){
                    console.log('pass');
                    var dataForm = {
                        'mi_producto' : $("#miproducto").data('miproducto'),
                        'producto_trueque' : trueque
                    };

                    console.log(dataForm);

                    $.ajax({
                        url: '{{ path("TruequesBundle_reservar") }}',
                        type: 'POST',
                        dataType: 'json',
                        data: dataForm,
                    })
                    .done(function(data) {
                        console.log(data['status']);
                        if (data['status'] == "success") {
                            setTimeout(function(){
                                swal("Excelente!", "Ya se dio inicio a la fase de intercambio.", "success"); 
                            }, 100);
                            setTimeout(function(){
                                location.reload();
                            }, 700);
                        } else{
                            setTimeout(function(){
                                swal("Error!", "Contacte al administrador.", "error"); 
                            }, 200);
                        };
                    })
                    .fail(function() {
                        console.log("error");
                    })
                    .always(function() {
                        console.log("complete");
                    });
                
                });
                
            });

            $('.finalizar_trueque').on('click', function() {
                var dataForm = {
                    'id_trueque' : $(this).data('trueque')
                };

                $.ajax({
                    url: '{{ path("TruequesBundle_finalizar") }}',
                    type: 'POST',
                    dataType: 'json',
                    data: dataForm,
                })
                .done(function(data) {
                    if (data["status"] == 'success') {
                        swal("Excelente!", "El intercambio se realizo con exito!", "success");
                        setTimeout(function(){
                            location.reload();
                        }, 700);
                    };
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                
            });



            $('.cancelar_trueque').on('click', function() {
                var dataForm = {
                    'id_trueque' : $(this).data('trueque')
                };

                $.ajax({
                    url: '{{ path("TruequesBundle_cancelar") }}',
                    type: 'POST',
                    dataType: 'json',
                    data: dataForm,
                })
                .done(function(data) {
                    if (data["status"] == 'success') {
                        swal("Atención!", "Haz cancelado el trueque!", "success");
                        setTimeout(function(){
                            location.reload();
                        }, 900);
                    };
                })
                .fail(function() {
                    console.log("error");
                })
                .always(function() {
                    console.log("complete");
                });
                
            });

        });

    </script>

{% endblock %}
