
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>Solicitud:</th>
        <td colspan="5">{{ info.solicitud}}</td>
    </tr>
    {% if info.estatus==4 %}
        <tr>
            <th>Solución:</th>
            <td>{{ info.solucion}}</td>
        </tr>
    {% endif %}
    <tr>
        <th>Solicitante:</th>
        <td>{{ info.solicitante.primernombre }} {{ info.solicitante.primerapellido }}</td>
        <th>Extensión</th>
        <td>{{ info.solicitante.extension }}</td>
        <th>Estatus:</th>
        <td>
            {% if info.estatus==1 %}
                <div class="label label-danger">Nuevo</div>
            {% elseif info.estatus==2 %}
                <div class="label label-info">Asignado</div>
            {% elseif info.estatus==3 %}
                <div class="label label-warning">Reasignado</div>
            {% elseif info.estatus==4 %}
                <div class="label label-success">Cerrado</div>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Fecha solicitud:</th>
        <td>{{ info.fechasolicitud|date("d-m-Y") }}</td>
        <th>Hora solicitud:</th>
        <td colspan="3">{{ info.horasolicitud|date("G:i:s") }}</td>
    </tr>
</table>
