{% extends '::estudioCabina.html.twig' %}
{% block menu %}
    {% include 'EstudioCabinaBundle:Default:includes/menu.html.twig' %}
{% endblock %}

{% block stylesheets %}
     {{ parent() }}
     <link href="{{ asset('libs/calendar/css/estiloreservaciones.css') }}" rel="stylesheet" type="text/css"/>
 {% endblock %}
 
{% block title %}Solicitudes{% endblock %}
{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path('estudio_cabina_homepage',{'tipo':tipo}) }}">CALENDARIO</a></li>
 <li class="active">SEGUIMIENTO DE LA SOLICITUD DE {% if tipo == 1 %}ESTUDIO{% elseif tipo == 2 %}CABINA{% else %}SALA{% endif %}</li>
</ol>
{% endblock %}
{% block body -%}
       {{ parent() }}
 <h1>Seguimiento De La Solicitud</h1>      
<div class="formShow" style="width: 96%;">
 <table class="table table-striped table-bordered" style="font-size: 12px;">
        <thead>
            <tr>
               <tr><th colspan="8" style="text-align: center"> <b>Solicitud de Reservaci&oacute;n</b></th></tr>
                <th>Reservaci&oacute;n</th>
                <th>Responsable</th>
                <th>Dependencia</th>
                <th>Extensi&oacute;n</th>
                <th>Pauta</th>
                <th>Fecha Estimada</th>
                <th>Hora</th>
                <th>Estatus</th>
            </tr>
        </thead>
        <tbody>
         <tr>
              <td>{{ entity.estudioCabina }}</td>
                <td>{% for p in usuario %}{{ p.primerApellido | capitalize }} {{ p.primerNombre}}{% endfor %}</td>
                <td>{% for p in usuario %}{% if p.nivelorganizacional!=null %}{{ p.nivelorganizacional.descripcion }}{% endif %}{% endfor %}</td>
                <td>{% for p in usuario %}{{ p.Extension}}{% endfor %}</td>
                <td>{{ entity.pauta }}</td>
                <td>{% if entity.fecha %}{{ entity.fecha|date('d/m/Y') }}{% endif %}</td>
                <td>{{ entity.horaInicio|date('H:i:s') }} - {{ entity.horaFin|date('H:i:s') }}</td>
                <td>{% if entity.estatus==1 %}<span class="label label-warning"> En Espera</span>
                        {% elseif entity.estatus==2 %}<span class="label label-success"> Aprobado</span>
                        {% elseif entity.estatus==3 %}<span class="label label-danger"> Rechazado</span>
                        {% elseif entity.estatus==4 %}<span class="label label-default"> Culminado</span>
                        {% elseif entity.estatus==5 %}<span class="label label-primary"> Caducado</span>
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
            <br>
    <table class="table table-striped table-bordered info" style="font-size: 12px;">
          
        <thead>
            <tr><td colspan="3" style="text-align: center"> <b>Seguimiento de la Reservaci&oacute;n</b></td></tr>
            <tr>
                <th>Responsable</th>
                <th>Fecha y Hora</th>
                <th>Operaci&oacute;n</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in historial %}
         <tr>
            <td>{{ perfil[entity.id]['nombres_apellidos']}}</td>
            <td>{{ entity.fechaHora|date('Y-m-d H:i:s')}}</td>
            <td>{% if entity.estatus==1 %}    <span  style="padding: 6px 12px;"> Creada</span>
                {% elseif entity.estatus==2 %}<span  style="padding: 6px 12px;"> Aprobada</span>
                {% elseif entity.estatus==3 %}<span  style="padding: 6px 12px;"> Rechazada</span>
                {% elseif entity.estatus==4 %}<span  style="padding: 6px 12px;"> Culminada</span>
                {% elseif entity.estatus==5 %}<span  style="padding: 6px 12px;"> Caducada</span>
                {% endif %}
            </td>
            </tr>
            {%endfor%}
        </tbody>
    </table>
</div><br>
  <a class="btn btn-default" href="{{ path('reservaciones',{'tipo':tipo,'ubicacion':ubicacion}) }}">VOLVER A LA LISTA</a> <br><br>

 {% endblock %}