{% extends '::progis.html.twig' %}

{% block titulo %}
    <h2>NUEVA META</h2>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("progis_principal_homepage") }}">PRINCIPAL PROGIS</a></li>
  <li><a href="{{ path("miembroespacio") }}">LISTA DE MIEMBROS</a></li>
  <li class="active">NUEVO MIEMBRO</li>
</ol>
{% endblock %}

{% block contenido -%}
    {{ parent()}}
 
    {{ form_start(form, { 'attr': {'novalidate':null} }) }}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">INGRESE LOS PARÁMETROS</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(form) }}</div>
            </div>
        </div>

        <div align="center"><input type="submit" class="btn btn-primary" value="CREAR META">
            
    {{ form_end(form) }}  

<script>
    $(document).ready(function(){
      $( "#progis_principalbundle_metas_fechadesde" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd-mm-yy",
      });
      $( "#progis_principalbundle_metas_fechahasta" ).datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: "dd-mm-yy",
      });
      
      $("#progis_principalbundle_metas_miembroespacio option[value={{ miembroEspacio.id }}]").attr("selected",true);
      $("#Miembroespacio").hide();
      $("#Jornadalaboral").hide();

    });
    
    
</script>
{% endblock %}
