{% extends '::controlequipo.html.twig' %}

{% block ubicacion %}
        <ol class="breadcrumb">
          <li><a href="{{ path("controlequipo_homepage") }}">INICIO</a></li>
          <li class="active">PROVEEDORES</li>
        </ol>
    {% endblock %}
{% block body %}
    {{ parent() }}
    <h1>Lista de Proveedores</h1>

    <table id="tabladatatable" class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Proveedor</th>
                <th>Rif</th>
                <th>Opciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('proveedor_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.descripcionProveedor }}</td>
                <td>{{ entity.rif }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('proveedor_show', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Ver"><span class="glyphicon glyphicon-eye-open"></a>
                        <a href="{{ path('proveedor_edit', { 'id': entity.id }) }}" data-toggle="tooltip" data-placement="top" title="Editar"><span class="glyphicon glyphicon-edit"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
      
            <ul>
                <li>
                    <br><br>
                    <a class="btn btn-primary" href="{{ path('proveedor_new') }}"><span>REGISTRAR PROVEEDOR</span></a>
                </li>
            </ul>
        
                <script type="text/javascript">
        $(document).ready(function(){
           $('span').tooltip()
            
           $('#tabladatatable').dataTable( { //CONVERTIMOS NUESTRO LISTADO DE LA FORMA DEL JQUERY.DATATABLES- PASAMOS EL ID DE LA TABLA
                "sPaginationType": "full_numbers", //DAMOS FORMATO A LA PAGINACION(NUMEROS)
                "aaSorting": [[0,'desc']],
            } );
        })
    </script>
    {% endblock %}

    
    {% block menu %}
        {% include 'ControlEquipoBundle:Default:menu.html.twig' %}
    {% endblock %}