<div class="menubootstrap">
  <div align="left">
    <nav id="custom-bootstrap-menu" class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <a class="navbar-brand" href="{{ path('usuario_homepage') }}"><span class="glyphicon glyphicon-home"></span></a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      {% if tipo == 1 %}
              {% if is_granted('ROLE_ESTUDIO_ADMIN')%}  
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACIÓN <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ path('reservaciones',{'tipo':tipo,'ubicacion':0}) }}">SOLICITUDES</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="{{ path('pautafijas',{'tipo':tipo}) }}">PAUTAS FIJAS</a></li>
                          </ul>
                      </li>
                      </li>
                  </ul>
              {% endif %}
          {% elseif tipo == 2 %}
                {% if is_granted('ROLE_CABINA_ADMIN')%}
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACIÓN <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ path('reservaciones',{'tipo':tipo,'ubicacion':0}) }}">SOLICITUDES</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="{{ path('pautafijas',{'tipo':tipo}) }}">PAUTAS FIJAS</a></li>
                          </ul>
                      </li>
                      </li>
                  </ul>
              {% endif %}
          {% elseif tipo == 3 %}
                {% if is_granted('ROLE_SALA_ADMIN')%}
                  <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown">ADMINISTRACIÓN <b class="caret"></b></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ path('reservaciones',{'tipo':tipo,'ubicacion':0}) }}">SOLICITUDES</a></li>
                              <li role="presentation" class="divider"></li>
                              <li><a href="{{ path('pautafijas',{'tipo':tipo}) }}">PAUTAS FIJAS</a></li>
                          </ul>
                      </li>
                      </li>
                  </ul>
              {% endif %}
          {% endif %}   
        <ul class="nav navbar-nav navbar-right">
          <li><a target="__blank" href="{{ asset('manual/manual_sala.pdf') }}">MANUAL</a></li>
          <li><a href="{{ path('contacto') }}">CONTACTO</a></li>
          <li><a href="{{ path('usuario_logout') }}">SALIR</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>
  </div>
</div>


  

