{% extends '::controlequipo.html.twig' %}

{% block title %}Registro de Equipo Interno{% endblock %}

{% block titulo %}
    REGISTRO DE EQUIPO INTERNO
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("controlequipo_homepage") }}">INICIO</a></li>
  <li><a href="{{ path("equipointerno") }}">EQUIPOS INTERNOS</a></li>
  <li class="active">REGISTRO DE EQUIPO INTERNO</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent()}}

    {% if not form.vars.valid %}
        <div class="alert alert-danger errores" style="width:70%;">
            <div><b>Alerta! Ha ocurrido un error en el formulario:</b><br><br></div>
            <div>{{ form_errors(form.codigoCatalogo) }}</div>
            <div>{{ form_errors(form.codigoBien) }}</div>            
            <div>{{ form_errors(form.codigoBarra) }}</div>
            <div>{{ form_errors(form.descripcionEquipo) }}</div>
            <div>{{ form_errors(form.serial) }}</div>
            <div>{{ form_errors(form.responsablePatrimonial) }}</div>
            <div>{{ form_errors(form.responsableUso) }}</div>
            <div>{{ form_errors(form.controlPerceptivo) }}</div>
            <div>{{ form_errors(form.ordenCompra) }}</div>
            <div>{{ form_errors(form.fechaOrdenCompra) }}</div>
            <div>{{ form_errors(form.solicitudContratacion) }}</div>
            <div>{{ form_errors(form.partidaPresupuestaria) }}</div>
            <div>{{ form_errors(form.nroFactura) }}</div>
            <div>{{ form_errors(form.moneda) }}{{ form_errors(form.precio) }}</div>
            <div>{{ form_errors(form.actaEntrega) }}</div>
            <div>{{ form_errors(form.marca) }}</div>
            <div>{{ form_errors(form.modelo) }}</div>
            <div>{{ form_errors(form.file) }}</div>
            <div>{{ form_errors(form.fotoReferencia) }}</div>
            <div>{{ form_errors(form.proveedor) }}</div>
            <div>{{ form_errors(form.ubicacionFisica) }}</div>
            <div>{{ form_errors(form) }}</div>
        </div>
    {% endif %}
    
    
    <form novalidate action="{{ path('equipointerno_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal" role="form">
       {{ form_widget(form._token) }}

        <div class="formShow">
            
                        <div class="form-group">
                            <label for="nroControl" class="col-sm-4 control-label">Código Catálogo * </label>
                            <div class="col-sm-3">
                                {{ form_widget(form.codigoCatalogo,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nroControl" class="col-sm-4 control-label">Código Bien * </label>
                            <div class="col-sm-3">
                                {{ form_widget(form.codigoBien,{ 'attr': {'class': 'form-control input-sm','value':'BN-VZLA-'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nroControl" class="col-sm-4 control-label">Código Barra/ Nro Control * </label>
                            <div class="col-sm-3">
                                {{ form_widget(form.codigoBarra,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="descripcionEquipo" class="col-sm-4 control-label">Descripcion del Equipo *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.descripcionEquipo,{ 'attr': {'class': 'form-control input-sm','rows':'4','style':'width:220px;'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="codigoBarra" class="col-sm-4 control-label">Serial *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.serial,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="responsable" class="col-sm-4 control-label">Responsable Patrimonial *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.responsablePatrimonial,{ 'attr': {'class': 'form-control input-sm chosen-select','style': 'width:220px;'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="responsable" class="col-sm-4 control-label">Responsable Uso *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.responsableUso,{ 'attr': {'class': 'form-control input-sm chosen-select','style': 'width:220px;'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="controlPerceptivo" class="col-sm-4 control-label">Control Perceptivo</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.controlPerceptivo,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ordenCompra" class="col-sm-4 control-label">Orden de Compra</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.ordenCompra,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="fechaOrdenCompra" class="col-sm-4 control-label">Fecha Orden Compra</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.fechaOrdenCompra,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="solicitudContratacion" class="col-sm-4 control-label">Solicitud de Contratación</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.solicitudContratacion,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="partidaPresupuestaria" class="col-sm-4 control-label">Partida Presupuestaria</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.partidaPresupuestaria,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nroFactura" class="col-sm-4 control-label">N° Factura</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.nroFactura,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>



                        <div class="form-group">
                            <label for="actaEntrega" class="col-sm-4 control-label">Acta Entrega</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.actaEntrega,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="dd" class="col-sm-4 control-label">Ubicacion Fisica *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.ubicacionFisica,{ 'attr': {'class': 'form-control input-sm','style': 'width:220px;'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="ss" class="col-sm-4 control-label">Ubicacion Administrativa *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.ubicacionAdministrativa,{ 'attr': {'class': 'form-control input-sm','style': 'width:220px;'} }) }}
                            </div>
                        </div>    

                        <div class="form-group">
                            <label for="file" class="col-sm-4 control-label">Foto de Referencia</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.file,{ 'attr': {'class': 'btn-primary input-sm'} }) }}
                            </div>
                        </div> 
                             
                        <div class="form-group">
                            <label for="marcas_selector" class="col-sm-4 control-label">Marca *</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.marca,{ 'attr': {'class': 'form-control input-sm chosen-select','style': 'width:220px;'} }) }}
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="modelo" class="col-sm-4 control-label">Modelo *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.modelo,{ 'attr': {'class': 'form-control input-sm','style': 'width:220px;'} }) }}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="proveedor" class="col-sm-4 control-label">Proveedor *</label>
                            <div class="col-sm-3">
                                {{ form_widget(form.proveedor,{ 'attr': {'class': 'form-control input-sm','style': 'width:220px;'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="anio" class="col-sm-4 control-label">Año:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.anio,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="color" class="col-sm-4 control-label">Color:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.color,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="numpiezas" class="col-sm-4 control-label">Número de Piezas:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.numeroPiezas,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="observaciones" class="col-sm-4 control-label">Observaciones:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.observaciones,{ 'attr': {'class': 'form-control input-sm'} }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="precio" class="col-sm-4 control-label">Precio</label>
                            <div class="col-sm-8 input-group" style="margin-left: 15px;">
                                <span>
                                    {{ form_widget(form.moneda,{ 'attr': {'class':'form-control input-sm','style': 'width:62px;' } }) }}
                                </span>
                                    {{ form_widget(form.precio ,{ 'attr': {'class':'form-control input-sm','style': 'width:158px;' } }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="valor_inicial" class="col-sm-4 control-label">Valor Inicial:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.valorInicial,{ 'attr': {'class':'form-control input-sm','style': 'width:158px;' } }) }}
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <label for="depreciacion_mensual" class="col-sm-4 control-label">Depreciación Mensual:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.depreciacionMensual,{ 'attr': {'class':'form-control input-sm','style': 'width:158px;' } }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="depreciacion_acumulada" class="col-sm-4 control-label">Depreciación Acumulada:</label>
                            <div class="col-sm-3">
                                    {{ form_widget(form.depreciacionAcumulada,{ 'attr': {'class':'form-control input-sm','style': 'width:158px;' } }) }}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for=valor_actual class="col-sm-4 control-label">Valor Actual:</label>
                            <div class="col-sm-3">
                                
                                    {{ form_widget(form.valorActual,{ 'attr': {'class':'form-control input-sm','style': 'width:158px;' } }) }}
                            </div>
                        </div>
        </div>
        <br><input type="submit" class="btn btn-primary" value="CREAR EQUIPO INTERNO">
        <br><br>
        <a class="btn btn-default" href="{{ path('equipointerno') }}">
            VOLVER A LA LISTA DE EQUIPOS
        </a> 
        
     </form>

  <script>
        $(function() {
            $(".chosen-select").chosen({no_results_text: "No encontrado!"});
            $("#controlequipobundle_equipointerno_marca_chosen").css("width","500px !important")
            //$("#controlequipobundle_equipointerno_modelo").trigger("chosen:updated");
            $(":file").filestyle({iconName: "glyphicon-picture",buttonBefore: true,buttonText: "Cargar Fotografía",input: false});
            
            $("#controlequipobundle_equipointerno_controlPerceptivo" ).datepicker({
                dateFormat: "dd-mm-yy",
            });
            
            $("#controlequipobundle_equipointerno_fechaOrdenCompra" ).datepicker({
                dateFormat: "dd-mm-yy",
            });
            
            $('#controlequipobundle_equipointerno_precio').number( true, 2,'.', '');
          
            $(function(){
                
                //$('#controlequipobundle_equipointerno_modelo option').remove();
                var $modelo_selector = $('#controlequipobundle_equipointerno_modelo');
                $("#controlequipobundle_equipointerno_marca").change(function(){
                    var data = {
                        marca_id: $(this).val()
                    };

                    $.ajax({
                        type: 'post',
                        url: '{{ path("controlequipo_select_modelos") }}',
                        data: data,
                        success: function(data) {
                            $modelo_selector.html('<option value>Seleccione...</option>');
                            for (var i=0, total = data.length; i < total; i++) {
                                $modelo_selector.append('<option value="' + data[i].id + '">' + data[i].descripcionModelo + '</option>');
                            }
                        }
                    });
                   // $("#marcas_selector").chosen().change(function() {
                        //alert( "Se ha modificado la Marca, por favor seleccione un modelo." );
                        // $("#controlequipobundle_equipointerno_modelo").trigger("chosen:updated");
                   // });
                });
            });
        });
    </script>
{% endblock %}