{% extends '::progis.html.twig' %}

{% block titulo %}
    <h2>EDITAR SUB-CATEGORIA</h2>
    <h4>CATEGORIA: {{entity.categoria.categoria|upper}}</h4>
{% endblock %}


{% block ubicacion %}
    <br>
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("progis_principal_homepage") }}">PRINCIPAL PROGIS</a></li>
  <li><a href="{{ path("progis_categoria") }}">LISTA DE CATEGORIAS</a></li>
  <li><a href="{{ path("progis_subcategoria",{'id':entity.categoria.id}) }}">LISTA DE SUB-CATEGORIAS</a></li>
  <li class="active">EDITAR SUB-CATEGORIA</li>
</ol>
{% endblock %}
    
{% block contenido -%}
    {{ parent() }}

    {{ form_start(edit_form, { 'attr': {'novalidate':null} }) }}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">MODIFIQUE LOS PARÁMETROS QUE DESEE</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(edit_form) }}</div>
            </div>
        </div>

        <div align="center"><input type="submit" class="btn btn-primary" value="EDITAR CATEGORIA">
    {{ form_end(edit_form) }}   
        
        
    <BR><BR><div align="center">{{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}</div>
    <br>
    
 

{% endblock %}
