{% extends '::progis.html.twig' %}

{% block titulo %}
    <h2>CONSULTA MIEMBRO</h2>
    <a href="{{ path('miembroespacio_new') }}"><i data-toggle="tooltip" data-placement="top" title="Agregar miembro al espacio" class="fa fa-plus"></i> Agregar miembro</a> &nbsp;&nbsp;<a href="{{ path('miembroespacio_edit',{'id':entity.id}) }}"><i data-toggle="tooltip" data-placement="top" title="Editar miembro" class="fa fa-edit"></i> Ir a editar</a>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("progis_principal_homepage") }}">PRINCIPAL PROGIS</a></li>
  <li><a href="{{ path("miembroespacio") }}">LISTA DE MIEMBROS</a></li>
  <li class="active">NUEVO MIEMBRO</li>
</ol>
{% endblock %}

{% block contenido -%}
    {{ parent() }}

    <table class="table table-hover table-bordered tablaShow">
        <tr>
            <th>Usuario:</th>
            <td>{{ entity.usuario.primerNombre|capitalize }} {{ entity.usuario.primerApellido|capitalize }}</td>
        </tr>
        <tr>
            <th>Agregado por:</th>
            <td>{{ entity.responsable.primerNombre|capitalize }} {{ entity.responsable.primerApellido|capitalize }}</td>
        </tr>
        <tr>
            <th>Jornada:</th>
            <td>
                    {% set dia=entity.jornadalaboral.dias|split("-") %}
                    {% for d in dia %}
                        {% if d==1 %} | Lunes |
                        {% elseif d==2 %} | Martes |
                        {% elseif d==3 %} | Miercoles |
                        {% elseif d==4 %} |Jueves |
                        {% elseif d==5 %} | Viernes |
                        {% elseif d==6 %} | Sábado |
                        {% elseif d==7 %} | Domingo |
                        {% endif %}
                    {% endfor %}
                    
                    Desde las {{ entity.jornadalaboral.horadesde|date('G:i:s') }} a {{ entity.jornadalaboral.horahasta|date('G:i:s') }}
            
            </td>
        </tr>
        <tr>
            <th>Roles:</th>
            <td>
                {% set a=0 %}
                {% for r in entity.rolgeneral %}
                    {% set a=1 %}
                    {% if r.rol|slice(0,11)=='ROLE_PROGIS' %}
                        {{ r.rol }} : {{ r.descripcion }}<br>
                    {% endif %}
                    
                {% endfor%}
                {% if a==0 %}Este usuario no posee roles generales asignados.{% endif %}
            </td>
        </tr>
    </table>
            
    <div align="center">
        <BR>
        {{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
            {{ form_errors(delete_form) }}
            {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
        {{ form_end(delete_form) }}
    </div> 
{% endblock %}



