{% extends '::nomina.html.twig' %}

{% block title %}Historico{% endblock %}

{% block titulo %}
    <h3>GENERAR HISTÓRICO</h3>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("nomina_homepage") }}">PRINCIPAL RRHH</a></li>
  <li class="active">HISTORICO</li>
</ol>
{% endblock %}
    
{% block body -%}
    {{ parent() }}
   
    {{ form_start(form, { 'attr': {'novalidate':null} }) }}
    <div class="formShow">
        {{ form_widget(form) }}
    </div>

    <input type="submit" class="btn btn-primary" value="GENERAR DATA"> | 
    <a class="btn btn-default" href="{{ path('nomina_homepage') }}">VOLVER AL INICIO</a>
    {{ form_end(form) }}

    <br><br>

    
{% endblock %}{# empty Twig template #}
