{% extends '::progis.html.twig' %}

{% block titulo %}
    <h2>EDITAR PROYECTO</h2>
    <h4>PROYECTO: "{{ entity.nombre|upper }}"<br></h4>
    
    {% if 
        rolMiembroEspacioNivel[entity.nivelorganizacional.id]['ROLE_PROGIS_PROYECTO_ADMIN'] is defined or 
        rolMiembroProyecto[entity.id]["ROLE_PROGIS_PROYECTO_ESP_ADMIN"] is defined or 
        (is_granted('ROLE_PROGIS_ADMIN') and app.session.get('idnivel')==entity.nivelorganizacional.id) %}
        <a href="{{ path('objetivo', { 'idproyecto': entity.id }) }}"><i class="fa fa-edit">  Ir a objetivos</i></a>&nbsp;&nbsp;                
    <a href="{{ path('miembroproyecto',{'idproyecto':entity.id}) }}"><i class="fa fa-plus"> Gestionar miembros de proyecto</i></a>&nbsp;&nbsp;
    {% endif %}
{% endblock %}


{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("progis_principal_homepage") }}">PRINCIPAL PROGIS</a></li>
  <li><a href="{{ path("proyecto_homepage") }}">LISTA DE PROYECTOS</a></li>
  <li><a href="{{ path("proyecto_show",{'id':entity.id}) }}">CONSULTAR PROYECTO</a></li>
  <li class="active">NUEVO PROYECTO</li>
</ol>
{% endblock %}
    
{% block contenido -%}
    {{ parent() }}
    
    {{ form_start(edit_form, { 'attr': {'novalidate':null} }) }}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">MODIFIQUE LOS PARÁMETROS QUE DESEE</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(edit_form) }}</div>
            </div>
        </div>

            <div align="center"><input type="submit" class="btn btn-primary" value="EDITAR PROYECTO"><br><br>
    {{ form_end(edit_form) }}   
        
        
    <div align="center">{{ form_start(delete_form, { 'attr': {'onsubmit': 'return confirm("¿Seguro que deseas eliminar?")'} }) }}
        {{ form_errors(delete_form) }}
        {{ form_row(delete_form.submit, { 'attr': {'class': 'btn btn-danger'} }) }}
    {{ form_end(delete_form) }}</div>
    <br>
{% endblock %}
