{% extends '::progis.html.twig' %}

{% block titulo %}
    <h2>NUEVO MIEMBRO DEL PROYECTO</h2>
    <h4>PROYECTO "{{ proyecto.nombre|upper }}"<br></h4>
{% endblock %}

{% block ubicacion %}
<ol class="breadcrumb">
  <li><a href="{{ path("usuario_homepage") }}">PRINCIPAL TELESUR</a></li>
  <li><a href="{{ path("progis_principal_homepage") }}">PRINCIPAL PROGIS</a></li>
  <li><a href="{{ path("proyecto") }}">LISTA DE PROYECTOS</a></li>
  <li><a href="{{ path("proyecto_show",{'id':proyecto.id}) }}">CONSULTAR PROYECTO</a></li>
  <li><a href="{{ path("miembroproyecto",{'idproyecto':proyecto.id}) }}">LISTA DE MIEMBROS</a></li>
  <li class="active">NUEVO MIEMBRO DEL PROYECTO</li>
</ol>
{% endblock %}

{% block stylesheets %}
    {{ parent()}}
    <style>
        #progis_proyectobundle_miembroproyecto_rolproyecto label{
                display: block;
        }

        #progis_proyectobundle_miembroproyecto_rolproyecto input{
                float: left;
                text-align: left;
                padding: 0px;
                margin: 0px;
        }
    </style>
    
{% endblock %}
    
{% block contenido -%}
    {{ parent()}}
 
    <div class="alert alert-info">PARA ASIGNAR MIEMBROS A UN PROYECTO DEBES TENER DEFINIDOS LOS MIEMBROS DE TU ESPACIO, Y SI EL USUARIO TIENE ASIGNADO EL PERMISO SUPERADMIN PARA NO PROYECTOS APARECRÁ EN ESTE LISTADO.</div>
    {{ form_start(form, { 'attr': {'novalidate':null} }) }}
        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">INGRESE LOS PARÁMETROS</div>
            <div class="panel-body">
                    <div id="formulario">{{ form_widget(form) }}</div>
            </div>
        </div>

            
        <div align="center"><input type="submit" class="btn btn-primary" value="AGREGAR MIEMBRO">
            
    {{ form_end(form) }}  

{% endblock %}

