{% extends '::base.html.twig' %}

{% block body -%}
    <h1>RegistrosExternos list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Fecharegistro</th>
                <th>Usuario</th>
                <th>Estatus</th>
                <th>Tipo</th>
                <th>Propietarioid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('registroexterno_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{% if entity.fechaRegistro %}{{ entity.fechaRegistro|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.usuario }}</td>
                <td>{{ entity.estatus }}</td>
                <td>{{ entity.tipo }}</td>
                <td>{{ entity.propietarioId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('registroexterno_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('registroexterno_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('registroexterno_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
